## database
DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_DATABASE=

## super admin
SUPER_ADMIN_FNAME=
SUPER_ADMIN_LNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

## sendgrid
SENDGRID_API_KEY=

## application
CLIENT_URL=http://localhost:3000
API_URL=http://localhost:8080