## database
DB_USER=postgres
DB_PASSWORD=1234
DB_DATABASE=holomentor_db

## super admin
SUPER_ADMIN_FNAME=Super
SUPER_ADMIN_LNAME=Admin
SUPER_ADMIN_EMAIL=admin@holomentor.com
SUPER_ADMIN_PASSWORD=1234

